<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    {%if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="plugins/mmenu-light/mmenu-light.css">
    <link rel="stylesheet" href="plugins/splide/splide-core.min.css">
    {% block styles %}{% endblock %}
    <script src="plugins/lazyload/lazyload.min.js"></script>
    <script src="plugins/splide/splide.min.js"></script>
    <script src="plugins/mmenu-light/mmenu-light.js"></script>
    <script src="js/site.js"></script>
    {% block scripts %}{% endblock %}
    {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
  </head>
  
  <body class="{{ page.classes }}">
  {{ include('_parts/header.html.twig') }}

  <div id="page">
    {{ include('_parts/flashmessages.html.twig') }}
    {% block content %}{% endblock %}
  </div>

  {{ include('_parts/footer.html.twig') }}
  {{ include('_parts/menu.html.twig') }}
  <script>
    var lazyLoadInstance = new LazyLoad({
    });
  </script>
</body>
</html>